body {
    width: 100%;
    height: 100%;
    margin: 0;       
    padding: 0;      
    position: relative;
    background-image: url(../images/czerwona-pigulka-otwierajaca-oczy-czyli-o-tym-jak-dziala-ideologia-redpillowcow.jpg)
    
}

#board {
    width: 800px;
    height: 600px;
    background: grey;
    border: 4px solid black;
    box-shadow: 0px 0px 30px chartreuse;
    
    position: absolute;  
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    
}

#player {
    width: 20px;
    height: 20px;
    position: absolute;
    

}

#player img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#trace {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1;
}
#player { z-index: 2; }

.enemy {
    background-image: url(../images/325d064aa6da1bb6284482c1ccfdd2fe.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 20px;
    height: 20px;
}


body h1 {
    position: absolute;  
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    
    color: chartreuse;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}



#toggleMusic {
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

#score {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    color: lime;
}

#enter {
    position: absolute;  
    top: 100%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: chartreuse;

}