body {
    background-image: url(../images/czerwona-pigulka-otwierajaca-oczy-czyli-o-tym-jak-dziala-ideologia-redpillowcow.jpg)
}

#board {
    width: 800px;
    height: 600px;
    background: grey;
    border: 4px solid black;
    position: relative;
    top: 50%;
    left: 30%;
    
}

#player {
    width: 20px;
    height: 20px;
    position: absolute;
    outline: 2px solid red;


}

#player img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


body h1 {
    color: chartreuse;
    text-align: center;

}

#page-gameover {
    text-align: center;
    background-color: darkcyan;
}