body {
    background-image:url(../images/czerwona-pigulka-otwierajaca-oczy-czyli-o-tym-jak-dziala-ideologia-redpillowcow.jpg)
}

#player {
    background-color: crimson;
    position: absolute;
    
}

#board {
    border: 4px solid greenyellow;
    width: 800px;
    height: 600px;


    position: relative;
}

body h1 {
    color: chartreuse;
    text-align: center;
}